/* Estilos generales */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
}

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.row {
  flex: 1;
}

/* Contenedor principal para ocupar el espacio disponible */
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Estilo para las tarjetas */
.card {
  width: 20rem; /* Ajusta el tamaño según sea necesario */
  margin: 1rem;
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  transition: transform 0.3s ease-in-out; /* Efecto de zoom en el hover */
}

.card:hover {
  transform: translateY(-5px); /* Movimiento de hover */
}

.card-img-top {
  width: 100%;
  height: 300px; /* Tamaño fijo de la imagen */
  object-fit: cover;
  object-position: center;
  border-top-left-radius: 10px; /* Bordes redondeados en la imagen */
  border-top-right-radius: 10px;
}

/* Botones */
.btn {
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
}

.btn-success {
  background-color: #25d366; /* Verde característico de WhatsApp */
  border-color: #25d366;
}

.btn-success:hover {
  background-color: #128c7e; /* Color al pasar el mouse */
  border-color: #128c7e;
}

.btn-warning {
  background-color: #ffc107;
  border-color: #ffc107;
}

.btn-warning:hover {
  background-color: #e0a800;
  border-color: #e0a800;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-danger:hover {
  background-color: #c82333;
  border-color: #c82333;
}

/* Espaciado entre tarjetas */
.row {
  margin-top: 20px;
}

.footer {
  margin-top: auto;
  padding: 3rem;
  background-color: #f1f1f1;
  text-align: center;
  font-size: 0.9rem;
  color: #555;
}

/* Navbar */
.navbar {
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
}

.navbar .navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
}

.navbar-brand {
  color: #333 !important; /* Asegura que el texto sea oscuro */
}

/* Efecto hover para las cards */
.card-body:hover {
  background-color: #f8f9fa;
}